{% extends '_base.html.twig' %}

{% block description %}{{ block("title") }}{% endblock %}

{% block body %}
    <section class="container-text">
        <h1 class="mb-3">{{ block("title") }}</h1>

        {% block body_form_pre %}
        {% endblock %}

        {% block body_form %}
            {{ form(form) }}
        {% endblock %}
    </section>
{% endblock %}
