{% extends '_layout.html.twig' %}

{% block title %}{{ 'animal_keepers.title'|trans }}{% endblock %}
{% block description %}{{ 'animal_keepers.description'|trans }}{% endblock %}

{% trans_default_domain "master_data" %}
{% import "macros/components.html.twig" as components %}

{% block content %}
    <h1>{{ "animal_keepers.title"|trans({}, "master_data") }}</h1>
    {{ components.vue_entry_point('vue-animal-keepers') }}
{% endblock %}
