{% extends '_layout.html.twig' %}

{% block title %}{{ 'organizations.title'|trans }}{% endblock %}
{% block description %}{{ 'organizations.description'|trans }}{% endblock %}

{% trans_default_domain "master_data" %}
{% import "macros/components.html.twig" as components %}

{% block content %}
    <h1>{{ "organizations.title"|trans({}, "master_data") }}</h1>
    {{ components.vue_entry_point('vue-organizations') }}
{% endblock %}
