@import '~bootstrap/scss/functions';
$primary: rgb(0, 40, 165);
@import '~bootstrap/scss/variables';
$modal-backdrop-opacity: 0.3;
$custom-control-cursor: pointer;
$font-family-sans-serif: 'Source Sans Pro', sans-serif;

@import '~bootstrap/scss/bootstrap';
@import '~noty/src/noty';
@import '~noty/src/themes/bootstrap-v4';
@import '~flatpickr/dist/flatpickr.css';
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";

@import "typography.scss";
@import "layout.scss";

@import "breadcrumb.scss";
@import "duck";
