.container-text {
  max-width: 40em;
}

.container-text p {
  text-align: justify;
}

.w-minimal {
  width: 1%;
  white-space: nowrap;
}

.alert {
  border-radius: 0;
}

.mw-5 {
  max-width: 5em;
}

.w-20 {
  width: 20em;
}

.mw-30 {
  max-width: 30em;
}
