.container-text {
  max-width: 40em;
}

.container-text p {
  text-align: justify;
}

.w-minimal {
  width: 1%;
  white-space: nowrap;
}

.alert {
  border-radius: 0;
}


.dt-container {
  top: -2.5em
}
