h1, h2, h3 {
  color: black;
}

h1 {
  font-size: 2.56em;
  font-weight: bold;
  margin-bottom: 1em;
}

h2 {
  font-size: 1.6em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1em;
}

h3 {
  font-size: 1em;
  font-weight: bold;
}

h4 {
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
  color: $gray-600;
}

/* stylelint-disable selector-no-qualifying-type */
label.required {
  &::after {
    color: $danger;
    content: '*';
    font-size: 1.2em;
  }
}

.whitespace-preserve-newlines {
  white-space: pre-line;
}
